{% extends 'base.html' %}

{% block title %}
    <title>Информация о {{user.name}}</title>
{% endblock %}

{% block content %}
    <h2>{{user.name}}</h2>
    <p><small>{{user.email}}, <b>{{user.place_name}}</b> </small></p>

    <div class="container mt-1">
        {% if user.journal != [] %}
            {% for j in user.journal %}
                <div class="row align-items-center mt-3">
                    <div class="col-2 border-end">{{j.place_name}}</div>
                    <div class="col border-end">{{weather['1'].timezone}}</div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    
    
{% endblock %}